.inputConatiner{
    display: grid;
    grid-template-columns: .3fr .3fr 8fr;
    background-color: #f0f2f5;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    margin-left: 1rem;

}
.messageInput{
    height: 2.5rem;
    width: 95%;
    border: none;
    background-color: white;
    border-radius: 6px;
}
.messageInput:focus{
    outline: none;
}
.messageInputContainer{
    display: flex;
    align-items: center;
    gap: .5rem;
}